.recipeCard {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 4px;
  box-shadow: 0px 0px 0.3px black;
}

.recipeImgContainer {
  height: 250px;
  width: 200px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.bluebtn {
  background-color: rgb(67, 170, 144);
  color: white;
  border-style: none;
  width: 100px;
  margin-left: 50px;
  height: 40px;
}